<table style="width: 1350px; margin-left: 10px;">
  <td style="border: 2px solid black;"><%= link_to 'LOGO', root_path %></td>
  <td style="border: 2px solid black;"><%= link_to 'Product Search', products_path %></td>
  <td style="border: 2px solid black;"><%= link_to 'Log In', new_user_session_path %></td>
</table>
<table style="width: 1350px; margin-left: 10px;">
  <td style="border: 2px solid black;"><%= link_to 'LOGO', root_path %></td>
  <td style="border: 2px solid black;"><%= link_to 'Product Search', products_path %></td>
  <td style="border: 2px solid black;"><%= link_to 'Haggles', haggles_path %></td>
  <td style="border: 2px solid black;"><%= link_to 'Logistics', logistics_path %></td>
  <td style="border: 2px solid black;"><%= link_to 'Inbox', '#' %></td>
  <td style="border: 2px solid black;"><%= link_to 'Log Out', new_user_session_path %></td>
</table>
<table style="width: 1350px; margin-left: 10px;">
  <td style="border: 2px solid black;"><%= link_to 'LOGO', root_path %></td>
  <td style="border: 2px solid black;"><%= link_to 'BUY - product search', products_path %></td>
  <td style="border: 2px solid black;"><%= link_to 'BUY - Recurring', haggles_path %></td>
  <td style="border: 2px solid black;"><%= link_to 'SELL - products new', new_product_path %></td>
  <td style="border: 2px solid black;"><%= link_to 'SELL - logistics', logistics_path %></td>
  <td style="border: 2px solid black;"><%= link_to 'HAGGLE - Current', haggles_path %></td>
  <td style="border: 2px solid black;"><%= link_to 'HAGGLE - Complete', haggles_path %></td>
  <td style="border: 2px solid black;"><%= link_to 'Inbox', '#' %></td>
  <td style="border: 2px solid black;"><%= link_to 'Log Out', new_user_session_path %></td>
</table>
<table style="width: 1350px; margin-left: 10px;">
  <td style="border: 2px solid black;"><%= link_to 'LOGO', root_path %></td>
  <td style="border: 2px solid black;"><%= link_to 'BUY', products_path %></td>
  <td style="border: 2px solid black;"><%= link_to 'SELL', logistics_path %></td>
  <td style="border: 2px solid black;"><%= link_to 'HAGGLE', haggles_path %></td>
  <td style="border: 2px solid black;"><%= link_to 'Envelope Icon (New Num.)', '#' %></td>
  <td style="border: 2px solid black;"><%= link_to 'User Icon - settings icon etc', new_user_session_path %></td>
</table>
<hr />

<%# TOP %>
  <%# BUY - search product and buy it once or reccuring for logistics %>
  <%# SELL - list product or look at logistics supply chain %>
  <%# HAGGLE - look at current haggles or transaction history %>
  <%# MESSAGES - links to offers and messages for anything %>
  <%# USER STUFF - settings, log out etc %>

<%# BOTTOM %>
  <%# ABOUT %>
  <%# HELP %>
  <%# CONTACT %>
